.cart {
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 830px) {
        width: 100%;
    }

    .cart-data {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            width: 95%;
        }

        .cart-list {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            @media screen and (max-width: 500px) {
                width: 100%;
            }
        }

        .bill-data {
            width: 25%;
            border-radius: 3px;
            margin-top: 20px;
            padding: 10px;
            background: white;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

            @media screen and (max-width: 500px) {
                width: 94%;
            }

            .title {
                width: 100%;
                font-size: 20px;
                font-weight: 500;
                line-height: 40px;
            }

            .billing-ind-item {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                margin: 8px 0;

                .name {
                    max-width: 70%;
                }

                &.total-item {
                    margin-top: 50px;
                    border-top: 1px solid #efefef;
                    padding-top: 10px;
                }
            }

            .order-button {
                margin-top: 30px;
                width: 100%;
            }

            .no-products {
                color: #480048;
                align-items: flex-start;
            }
        }
    }

}